*{
  padding:0px;
  margin:0px;
}
.s1{
    color:blue;
}
h1{
    color:grey;
}
.s2{
    color:black;
}
.cont{
  width:500px;
  height:500px;
  margin-top:5%;
  margin-left:32%;
  text-align: center;
}
.s{
  margin-top:5px;
  width:400px;
  height:45px;
  margin-left:11.6%;
  text-align: center;
}
.btn {
  margin-top:1px;
  margin-bottom:1px;
  position: relative;
  width: 110px;
  height: 40px;
  border-radius: 45px;
  border: none;
  background-color: #6495ED;
  color: white;
  cursor: pointer;
  align-items: center;
  float: right;
  margin-top:5px;
}
.f{
  margin-top:1px;
  margin-bottom:1px;
  width: 275px;
  height: 40px;
  float: left;
  border-radius: 45px;
  margin-top:5px;
}
.d{
  margin-top:5px;
  font-size: 20px;
}
link{
  margin-top:5px;
}
h6{
  margin-top:5px;
}
img{
  margin-top:50px;
  margin-bottom:50px;
}
h2 {
  margin-bottom:20px;
}
h4{
  margin-bottom:20px;
}